@using System.Data.SqlClient
@using Final.Models
@model Final.Models.OptionSelected
<div class="two-column">
    <div class="navigation">
        @Html.Partial("_Navigation")
    </div>


    <div class="block-details">
        <h2>Browse by Publisher</h2>
        @Html.Partial("_PublisherList")
        <div class="block">
            <div class="block-detail-item"><strong>Book Code</strong></div>
            <div class="block-detail-item"><strong>Title</strong></div>
            <div class="block-detail-item"><strong>Type</strong></div>
            <div class="block-detail-item"><strong>Price</strong></div>
            <div class="block-detail-item"><strong>Paperback?</strong></div>
        </div>
        @{
            foreach (BOOK book in ViewBag.booksToDisplay)
            {
                if (book.BOOK_CODE == null)
                {

                }
                else
                {
                    <div class="block">
                        <div class="block-detail-item">@book.BOOK_CODE</div>
                        <div class="block-detail-item">@book.TITLE</div>
                        <div class="block-detail-item">@book.TYPE</div>
                        <div class="block-detail-item">$@book.PRICE</div>
                        @if (book.PAPERBACK == "0")
                        {
                            <div class="block-detail-item">False</div>
                        }
                        else
                        {
                            <div class="block-detail-item">True</div>
                        }
                    </div>
                }          
            }
        }
    </div>
</div>