<ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Browse Inventory", "Inventory", "Home")</li>
    <li>@Html.ActionLink("Browse by Author", "Author", "Home")</li>
    <li>@Html.ActionLink("Browse by Publisher", "Publisher", "Publisher")</li>
    <li>@Html.ActionLink("Browse by Location", "Index", "Home")</li>
    <li>@Html.ActionLink("Contact Management", "Index", "Home")</li>
</ul>