@using System.Data.SqlClient
@using Final.Models
@model Final.Models.OptionSelected
<div class="two-column">
    <div class="navigation">
        @Html.Partial("_Navigation")
    </div>


    <div class="book-details">
        <h2>Browse by Author</h2>
        @Html.Partial("_AuthorList")
        <div class="book">
            <div class="book-detail-item"><strong>Book Code</strong></div>
            <div class="book-detail-item"><strong>Title</strong></div>
            <div class="book-detail-item"><strong>Type</strong></div>
            <div class="book-detail-item"><strong>Price</strong></div>
            <div class="book-detail-item"><strong>Paperback?</strong></div>
            <div class="book-detail-item"><strong>Publisher</strong></div>
        </div>
        @{
            foreach (BOOK book in ViewBag.booksToDisplay)
            {
                <div class="book">
                    <div class="book-detail-item">@book.BOOK_CODE</div>
                    <div class="book-detail-item">@book.TITLE.ToString().ToTitleCase()</div>
                    <div class="book-detail-item">@book.TYPE</div>
                    <div class="book-detail-item">$@book.PRICE</div>
                    @if (book.PAPERBACK == "0")
                    {
                        <div class="book-detail-item">False</div>
                    }
                    else
                    {
                        <div class="book-detail-item">True</div>
                    }
                    <div class="book-detail-item">@book.PUBLISHER_CODE</div>
                </div>
            }
        }
    </div>
</div>